.DS_Store
*.[56789ao]
*.a[56789o]
*.so
*.pyc
._*
.nfs.*
[56789a].out
*~
*.orig
*.rej
*.exe
.*.swp
core
*.cgo*.go
*.cgo*.c
*.log
_cgo_*
_obj
_test
_testmain.go
build.out
test.out
last-change
VERSION.cache
protocol/basesocial.pb.go
protocol/basestruct.pb.go
protocol/protoc_middleman
fsvrmain
test/*.bak
test/smalltest

